* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 2000px) {
  body {
    width: 60%;
  }
}

@media (max-width: 768px) {
  body {
    width: 80%;
  }
}

#app {
  min-height: 100vh;
}

#footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#header {
  margin-top: 80px;
}

@media (max-width: 768px) {
  #header {
    margin-top: 40px;
  }
}

#header .header__link {
  text-decoration: none;
  color: black;
}

#header #header__name {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
}

@media (min-width: 2000px) {
  #header #header__name {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  #header #header__name {
    font-size: 30px;
  }
}

#header #header__title {
  font-size: 20px;
  font-weight: 400;
}

#nav {
  position: absolute;
  margin-top: 30px;
}

@media (min-width: 2000px) {
  #nav {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #nav {
    position: relative;
  }
  #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 18px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#nav .active {
  font-weight: 700;
}

#nav .nav__item {
  list-style-type: none;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #nav .nav__item {
    padding-right: 15px;
  }
}

#nav .nav__item .link {
  text-decoration: none;
  color: black;
}

#nav .nav__item .link:hover {
  font-weight: 600;
}

#nav .nav__item--focus {
  font-weight: 900;
}

#content {
  margin-left: 20%;
  margin-top: 45px;
  display: relative;
}

@media (max-width: 768px) {
  #content {
    margin-left: 0px;
  }
}

#content .text {
  font-size: 15px;
  margin-top: 20px;
  line-height: 27px;
  letter-spacing: 0.8px;
  font-weight: 400;
}

@media (min-width: 2000px) {
  #content .text {
    font-size: 17px;
  }
}

#content #showcase {
  position: relative;
  display: block;
}

#content #showcase #showcase__img {
  width: 100%;
  border-radius: 3px;
}

#content #showcase .showcase__klik {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

#content #showcase .actueel-link {
  text-decoration: underline;
  color: black;
  font-style: italic;
}

#content #showcase .showcase--qoute {
  display: block;
  max-width: 500px;
  padding: 0 40px 0 40px;
  margin: 50px auto;
  text-align: center;
  font-style: italic;
  position: relative;
}

#content #showcase .showcase--qoute:before {
  content: '"';
  font-size: 155px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  top: 30px;
  left: -10px;
  z-index: -1;
  opacity: 0.2;
}

#content #showcase .showcase--qoute:after {
  content: '"';
  font-size: 155px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  bottom: -30px;
  right: 0px;
  z-index: -1;
  opacity: 0.2;
}

#content .header {
  font-size: 30px;
  font-weight: 500;
}

@media (min-width: 2000px) {
  #content .header {
    font-size: 35px;
  }
}

#content .subheader {
  font-size: 21px;
  font-weight: 500;
  margin-top: 40px;
}

#content #werk .werk__onderwerp {
  list-style-type: none;
  margin-top: 15px;
}

@media (min-width: 2000px) {
  #content #werk .werk__onderwerp {
    font-size: 18px;
  }
}

#content #werk .werk__onderwerp:first-child {
  margin-top: 20px;
}

#content #werk .werk__onderwerp .werk__link {
  text-decoration: none;
  color: black;
  font-style: italic;
}

#content #werk .werk__onderwerp .werk__link:hover {
  font-weight: 900;
}

#content .onderwerp .header {
  font-weight: 400;
  font-style: italic;
}

#content .onderwerp .onderwerp__terug {
  display: block;
  text-decoration: none;
  color: black;
  font-style: italic;
  margin-top: 5px;
}

#content .onderwerp .onderwerp__terug:hover {
  font-weight: 900;
}

#content .onderwerp .onderwerp__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#content .onderwerp .onderwerp__flex .onderwerp__artwork {
  display: block;
  width: 220px;
  height: 220px;
  background-color: grey;
  margin: 5px;
  background-size: cover;
  background-position-x: center;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-in;
  transition: -webkit-transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-in;
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in;
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in, -webkit-transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-in;
}

#content .onderwerp .onderwerp__flex .onderwerp__artwork:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-out;
  transition: -webkit-transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-out;
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-out;
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-out, -webkit-transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-out;
}

#content .onderwerp .onderwerp__flex .onderwerp__artwork .onderwerp__artwork__pagelink {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 2000px) {
  #content .onderwerp .onderwerp__flex .onderwerp__artwork {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  #content .onderwerp .onderwerp__flex .onderwerp__artwork {
    width: 270px;
    height: 270px;
  }
}

#content .detail .detail__terug {
  position: absolute;
  display: block;
  text-decoration: none;
  color: black;
  font-style: italic;
}

#content .detail .detail__terug:hover {
  font-weight: 900;
}

#content .detail .detail--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  #content .detail .detail--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#content .detail .detail--flex .detail__artwork {
  width: 500px;
  height: 500px;
  background-color: grey;
  background-size: cover;
  background-position-x: center;
  margin-top: 30px;
  border-radius: 3px;
}

@media (min-width: 2000px) {
  #content .detail .detail--flex .detail__artwork {
    width: 700px;
    height: 700px;
  }
}

@media (max-width: 768px) {
  #content .detail .detail--flex .detail__artwork {
    width: 100%;
    min-height: 400px;
  }
}

#content .detail .detail--flex .detail__artwork--expo {
  width: 500px;
  height: auto;
  aspect-ratio: 0.7;
  background-size: cover;
}

#content .detail .detail--flex .detail__aside {
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
}

#content .detail .detail--flex .detail__aside .detail__aside-container {
  margin-bottom: 32px;
}

#content .detail .detail--flex .detail__aside .detail__aside--header {
  font-weight: 500;
}

#content .detail .detail--flex .detail__aside .detail__aside--text {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  #content .detail .detail--flex .detail__aside {
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }
}

#content .detail .detail--flex-expo {
  margin-top: 20px;
}

#content .detail .detail--flex-expo .detail__aside {
  margin-top: 0;
}

#content .overmij .overmij__exposities .header__expositie {
  margin-top: 20px;
  margin-bottom: 10px;
}

#content .overmij .overmij__exposities .overmij__expositie {
  margin-top: 5px;
}

@media (min-width: 2000px) {
  #content .contact {
    font-size: 18px;
  }
}

#content .contact .contact__name {
  font-size: 20px;
}

@media (min-width: 2000px) {
  #content .contact .contact__name {
    font-size: 25px;
    margin-top: 30px;
  }
}

#content .contact .contact__header {
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 1px;
}

@media (min-width: 2000px) {
  #content .contact .contact__header {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */