@import "_variables.scss";

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    margin: 0 auto;

    @media (min-width: 2000px){
        width: 60%;
    }
}

#footer {
    position: relative;
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 20px;

    p {
        position: absolute;
        bottom: 0;
    }
}

#header {
    margin-top: 80px;
    
    #header__name {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 3px;
    }
    
    #header__title {
        font-size: 20px;
        font-weight: 400;
    }
}

#nav {
    position: absolute;
    margin-top: 30px;

    .active {
        font-weight: 700;
    }

    .nav__item {
        list-style-type: none;
        margin-top: 15px;
        
        .link {
            text-decoration: none;
            color: black;
            
            &:hover {
                font-weight: 500;
            }
        }
    }

    .nav__item--focus {
        font-weight: 900;
    }
}

#content {
    margin-left: 20%;
    margin-top: 45px;

    .text {
        font-size: 15px;
        margin-top: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: 400;
    }

    #showcase {
        position: relative;
        display: block;

        #showcase__img {
            width: 100%;
        }

        .showcase__info {
            h2 {
                margin-top: 5px;
                font-weight: 500;

                &:first-child {
                    margin-top: 20px;
                }
            }

            .text--showcase {
                margin-top: 10px;
            }
        }
    }

    .header {
        font-size: 30px;
        font-weight: 500;
    }

    #werk {
        .werk__onderwerp {
            list-style-type: none;
            margin-top: 15px;

            &:first-child {
                margin-top: 20px;
            }
            
            .werk__link {
                text-decoration: none;
                color: black;
                font-style: italic;
                
                &:hover {
                    font-weight: 900;
                }
            }
        }
    }

    .onderwerp {
        .header {
            font-weight: 400;
            font-style: italic;
        }

        .onderwerp__terug {
            display: block;
            text-decoration: none;
            color: black;
            font-style: italic;
            margin-top: 5px;
                
            &:hover {
                font-weight: 900;
            }
        }

        .onderwerp__flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 50px;

            .onderwerp__artwork {
                width: 220px;
                height: 220px;
                background-color: grey;
                margin: 5px;
            }
        }
    }

    .overmij {
        .overmij__exposities {
            .header__expositie {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .overmij__expositie {
                margin-top: 5px;
            }
        } 
    }

    .contact {
        .contact__name {
            font-size: 20px;
        }
        .contact__header {
            font-size: 17px;
            font-weight: 500;
            margin-top: 10px;
        }
    }
}